@keyframes stroke {
  0% {
    stroke-dasharray: 0 200;
    fill: transparent;
  }
  50% {
    stroke-dasharray: 100 100;
    fill: transparent;
  }
  100% {
    stroke-dasharray: 200 0;
    fill: #333333;
  }
}

.animate-stroke {
  font-size: 32px;
  font-weight: bold;
  fill: transparent;
  stroke: #333333;
  stroke-width: 1;
  stroke-dasharray: 200 0;
  animation: stroke 2s ease-in-out infinite alternate;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter, 
.fade-leave-to {
  opacity: 0;
}